body {
  background: #283048;
  background: -webkit-linear-gradient(to right, #859398, #283048);
  background: linear-gradient(to right, #859398, #283048);
  color: white;
  text-align: center;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

a { text-decoration: none; color: white; }
a:visited { text-decoration: none; color:white; }
a:hover { color: lightgreen }

#canvas{
  background-color: black;
  border-radius: 5px;
}

.canvas-container {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
  font-size: 50px;
  line-height: 65px;
  text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
  font-weight: 700;
  margin-bottom: 6px
}

h2, h3, h4 {
  margin: 5px 0;
  margin-bottom: 5px;
  color: black;
}

h3 {
  margin-bottom: 5px;
  font-size: 20px;
}

h4 {
  font-weight: 400;
  margin-bottom: 5px;
}

h5 {
  color: black;
  font-size: 15px;
}

.nav {
  width: 300px;
  margin: 0 auto;
}

.nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-top: 5px;
}

.nav li:hover {
  cursor: pointer;
  color: lightgreen;
  transition: 0.3s;
}

p {
	font-size: 24px;
	line-height: 25px;
  font-weight: 400
}

.contact-links {
  margin: 0 auto;
}

.contact-links i {
  font-size: 35px;
}

.menu {
  background: white;
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 200px;
  border: 4px solid black;
  border-radius: 10px;
  margin-left: 20px;
}

.gen-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15px;
}

.menu label {
  color: black;
  font-size: 15px;
}

.menu button {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 100;
  border: none;
  color: #fff;
  background-color: black;
  padding: 7px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 10px;
  width: 118px;
}

.menu button:disabled {
  background-color: #ECE9E6;
  transition: 0.1s;
}

.menu button:disabled:hover {
  box-shadow: none;
  color: #fff;
  background-color: #ECE9E6;
  cursor: inherit;
  transition: 0.3s;
}

.menu button:hover {
  box-shadow: 5px 5px 5px #888888;
  color: black;
  background-color: #ECE9E6;
  cursor: pointer;
  transition: 0.3s;
}


/*Source: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/*/

input[type=range] {
  -webkit-appearance: none;
  margin: 11px auto;
  width: 100px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
